@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form asp-action="/index" method="post">
    <input type="number" name="NumberOne" id="numberOne"/>
    <input type="number" name="NumberTwo" id="numberTwo"/>
    <fieldset>
        <label><input type="checkbox" name="logic" value="div" id="logicalDiv"/>Divide</label>
        <label><input type="checkbox" name="logic" value="sub" id="logicalSub"/>Subtract</label>
        <label><input type="checkbox" name="logic" value="add" id="logicalAdd"/>Add</label>
        <label><input type="checkbox" name="logic" value="mul" id="logicalMul"/>Multiply</label>

    </fieldset>
    <input type="submit" value="Calculate" id="Calculate" />
</form>

@if (@Model.CalculationSet)
{
    <p>Answer = <output id="Answer">@Model.Calculation</output></p>
}
